// Colours theme
$primary-color: #52796f;
$secondary-color: #354f52;
$light-color: #84a98c;
$dark-color: #2f3e46;
$text-color: #222;
$bg-color: #f0efeb;
$bg-header-color: #dde5b6;

// Layout
$min-header-height: 80px;
$max-width: 1200px;

// Media queries
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
