{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "stylelintIntegration": true
}
